@import './../../../../../css/var';

$move-data-size: 26px;

%move {
    box-sizing: border-box;
    display: block;
    height: $move-data-size;
}

.move__direction {
    @extend %move;
}

.move__move {
    @extend %move;
}

.move__text {
    @extend %move;

    color: $top-header-text-color;
    display: block;
    font-size: $move-data-size;
    height: $move-data-size;
    line-height: $move-data-size;
}

.move__text_on_button {
    @extend %move;

    background-image: url('./image/main/button-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
