@import './../../../../../css/var';

$move-data-size: 30px;
$move-right-margin: 2px;
$text-stroke-color: rgba(0, 0, 0, 0.2);

%move {
    box-sizing: border-box;
    display: block;
    height: $move-data-size;
    margin-right: $move-right-margin;
    overflow: hidden;

    &:last-child {
        margin-right: 0;
    }
}

%text-stroke {
    text-shadow:
        -1px -1px 0 $text-stroke-color,
        1px -1px 0 $text-stroke-color,
        -1px 1px 0 $text-stroke-color,
        1px 1px 0 $text-stroke-color,
        0 -1px 0 $text-stroke-color,
        1px 0 0 $text-stroke-color,
        -1px 0 0 $text-stroke-color,
        0 1px 0 $text-stroke-color;
}

.move__direction {
    @extend %move;
    @extend %text-stroke;

    color: #a68640;
    font-family: $playstation-buttons-font-family;
    font-size: $move-data-size;
    line-height: $move-data-size * 1.25;
    margin-left: $move-right-margin;
    margin-right: $move-right-margin * 2;
}

%move-text-on-button {
    @extend %move;
    @extend %text-stroke;

    background-image: url('image/button-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $main-font-family-monospace;
    font-size: $move-data-size / 1.9;
    font-weight: bold;
    height: $move-data-size;
    line-height: $move-data-size;
    text-align: center;
    width: $move-data-size;
}

.move__text_on_button {
    @extend %move-text-on-button;
}

.move__1234_text_on_button {
    @extend %move-text-on-button;

    &.move__1234_text_on_button__playstation {
        display: block;
        font-family: $playstation-buttons-font-family;
        font-size: $move-data-size;
        font-weight: normal;
        line-height: $move-data-size * 1.2;
        text-align: left;
        text-indent: 3.6px;

        &[data-input='1'] {
            color: #bd1f63;
        }

        &[data-input='2'] {
            color: #2bb673;
        }

        &[data-input='3'] {
            color: #27aae1;
        }

        &[data-input='4'] {
            color: #be1e2d;
        }
    }

    &.move__1234_text_on_button__x_box {
        font-weight: bold;

        &[data-input='1'] {
            color: #10c8f6;
        }

        &[data-input='2'] {
            color: #ffc101;
        }

        &[data-input='3'] {
            color: #9bba11;
        }

        &[data-input='4'] {
            color: #df270f;
        }
    }

    &.move__1234_text_on_button__universal {
        font-weight: bold;
    }
}

.move__text {
    @extend %move;

    color: $main-text-color;
    display: block;
    font-size: $move-data-size / 1.9;
    height: $move-data-size;
    line-height: $move-data-size;

    &[data-input=','] {
        font-size: $move-data-size / 1.1;
        line-height: $move-data-size;
        margin-left: -$move-right-margin;
    }

    &[data-input='|'] {
        font-size: $move-data-size / 1.1;
        line-height: $move-data-size;
        padding-top: 2px;
    }

    &[data-input='+'] {
        font-size: $move-data-size / 1.2;
        line-height: $move-data-size / 1.1;
    }

    &[data-input='hold'],
    &[data-input='rapidly'],
    &[data-input='rapidly press'] {
        margin-right: 5px;
    }
}
