.scroll_wrapper {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.scroll_container {
    height: 100%;
    position: absolute;
    width: 100%;
}

.scroll_swiper_container {
    height: 100%;
    position: relative;
}

.scroll_swiper_wrapper {
    display: block;
}

.scroll_swiper_slide {
    display: block;
    height: auto;
}
