@import './../../../../../css/var';

$input-radio-size: 26px;
$input-radio-point-size: 16px;

.input_radio__label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
    vertical-align: top;

    &:last-child {
        margin-bottom: 0;
    }
}

.input_radio__input_state {
    //background-color: $main-bg-color;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: $input-radio-size;
    position: relative;
    width: $input-radio-size;

    &:before,
    &:after {
        border: 1px solid $header-bg-color;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        height: $input-radio-point-size;
        left: 0;
        margin-top: -$input-radio-point-size / 2;
        position: absolute;
        top: 50%;
        width: $input-radio-point-size;
    }

    &:after {
        background-color: $header-bg-color;
        border: 0;
        display: none;
        height: $input-radio-point-size - 6;
        left: 3px;
        top: 16px;
        width: $input-radio-point-size - 6;
    }
}

.input_radio__native_input {
    display: none;

    &:checked + .input_radio__input_state {
        &:after {
            display: block;
        }
    }
}

.input_radio__label_content {
    display: block;
}
