@import './../../../css/var';

.settings_page__wrapper {
    background-image: url('./image/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 95% auto;
}

.settings_page__part {
    display: block;
    padding: 10px $main-side-padding 40px;
}

.settings_page__part_header {
    display: block;
    font-size: 22px;
    padding-bottom: 10px;
}
