@import './../../../css/var';
@import './../../../css/service';

.settings_page__wrapper {
    background-image: url('./image/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 95% auto;
}

.settings_page__part {
    @extend %bordered;

    display: block;
    padding: 10px $main-side-padding 24px;
}

.settings_page__part_header {
    display: block;
    font-size: 22px;
    padding-bottom: 13px;
}

.settings_page__external_link {
    color: $top-header-text-color;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.settings_page__platform_input_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    padding-left: 7px;
}

.settings_page__platform_input_list_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 143px;
}
