@import './../../../../css/var';

.combo_wrapper {
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: $combo-item-height;
    padding: 0 $main-side-padding;
    position: relative;

    &.combo_wrapper__sub_combo {
        margin-left: $main-side-padding;
        padding-left: $main-side-padding;
    }
}

.combo_name {
    font-size: 18px;
    overflow: hidden;
    padding: 8px 8px 7px 0;
}

.combo_wrapper__sub_combo {
    .combo_name {
        font-size: 16px;
    }
}

.combo_move_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.combo_move_more_info_inner_container {
    .combo_move_wrapper {
        justify-content: start;
        padding-top: 7px;
    }

    .combo_name {
        font-size: 12px;
        padding: 6px 5px 6px 0;
    }
}

.combo_move_more_info__shot_frame_data {
    font-size: 16px;
    padding-bottom: 3px;
    text-align: right;
}

.combo_move_more_info__move_type {
    font-size: 14px;
    text-align: right;
}

.combo__equipped_mark {
    font-size: 24px;
    left: 5px;
    line-height: 24px;
    position: absolute;
    top: 7px;
}
