.combo_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.combo_name {
    overflow: hidden;
}

.combo_move_wrapper {
    display: flex;
    flex-direction: row;
}
