@import './../../../css/var';

.menu_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: $top-header-height;
    justify-content: center;
    transition: opacity 0.3s linear;
    width: $top-header-height;

    &:hover {
        opacity: 0.75;
    }
}

.menu_button_icon {
    display: block;
    height: 47%;
    width: 47%;
}
