@import './../../../css/var';
@import './../../../css/service';

.header_wrapper {
    @extend %bordered;

    align-items: center;
    background-color: $header-bg-color;
    border-bottom: 1px solid $header-border-bottom-color;
    color: $header-text-color;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 30px;
    padding: 0 $main-side-padding;
}
