@import './../../../../css/var';

.back_button_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: $top-header-height;
    justify-content: center;
    transition: opacity 0.3s linear;
    width: $top-header-height;

    &:hover {
        opacity: 0.75;
    }
}

.back_button_icon {
    display: block;
    height: 41%;
    margin-top: 4px;
    width: 41%;
}
