@import './../../../../../css/var';

.frame_data_wrapper {
    display: block;
    padding: 0 $main-side-padding;
}

.frame_data_table {
    outline: none;
}

.frame_data_table_body {
    outline: none;
}

.frame_data_table_tr {
    outline: none;
}

.frame_data_table_td,
.frame_data_table_th {
    outline: none;
    text-align: center;
}

.frame_data_table_th {
    background-color: #ccc;
    outline: none;
}

.frame_data_table_td {
    background-color: #fff;
    outline: none;
}
