@import './../../../../css/var';

.character_wrapper {
    align-items: center;
    box-sizing: border-box;
    color: $main-text-color;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 100%;
    padding: 0 $main-side-padding;
    text-decoration: none;
}

.character_image {
    background-color: #000;
    border: 2px solid $top-header-text-color;
    display: block;
    height: 50px;
    margin: 4px 0;
    width: 50px;
}

.character_name {
    display: block;
    flex-grow: 1;
    font-family: $title-font-family;
    font-size: 18px;
    overflow: hidden;
    padding: 5px 0 0 $main-side-padding;
}
