@import './../../../css/var';
@import './../../../css/service';

.header_wrapper {
    align-items: center;
    background-color: $header-bg-color;
    color: $header-text-color;
    display: flex;
    flex-direction: row;
    height: $header-height;
    width: 100%;
}

.header_title_wrapper {
    color: #aa8854;
    display: block;
    flex-grow: 1;
    font-family: $title-font-family;
    font-size: 22px;
    letter-spacing: 0.5px;
    overflow: hidden;
    padding: 10px 10px 3px $main-side-padding;
}
