@import './../../../css/var';
@import './../../../css/service';

.list_wrapper {
    display: block;
}

.list_item {
    @extend %bordered;

    background-color: $main-bg-color;
    display: block;
    height: 58px;

    &:first-child {
        //border-top: none;
    }

    &:last-child {
        //border-bottom: none;
    }
}
