@import './../../../../css/var';

.tab_list__top_menu {
    background-color: #666;
    border-bottom: 1px solid $top-header-text-color;
    display: block;
}

.tab_list__tab_item {
    border-bottom: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 9px $main-side-padding 6px;

    &.tab_list__tab_item__active {
        border-bottom-color: $top-header-text-color;
    }

    &.tab_list__tab_item__first {
        display: block;
    }

    &.tab_list__tab_item__last {
        display: block;
    }
}

.tab_list__content_wrapper {
    display: flex;
}
