@import './../../../../css/var';

$border-color: #ec1c24;

.tab_list__top_menu {
    background-color: #666;
    border-bottom: 1px solid $border-color;
    display: block;
}

.tab_list__tab_item {
    border-bottom: 2px solid transparent;
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 0 $main-side-padding * 2 0 0;
    padding: 8px 0 6px;

    &.tab_list__tab_item__active {
        border-bottom-color: $border-color;
    }

    &.tab_list__tab_item__first {
        margin-left: $main-side-padding;
    }

    &.tab_list__tab_item__last {
        margin-right: $main-side-padding;
    }
}
