@font-face {
    font-family: 'Trajan Pro 3';
    src: url('../font/trajan-pro-3/trajan-pro-3-regular.otf');
}

@font-face {
    font-family: 'Playstation Buttons';
    src: url('../font/playstation-buttons/playstation-buttons-regular.ttf') format('truetype');
}
