/* stylelint-disable selector-pseudo-class-no-unknown */
@import './var';

html,
body {
    height: 100%;
}

body {
    background-image: radial-gradient(#4e4e4e 0%, #1b1305 100%);
    color: $main-text-color;
    font-family: $main-font-family;
    font-size: $main-font-size;
}

:global .app-wrapper {
    min-height: 100%;
}

.limit,
.hug {
    box-sizing: border-box;
    display: block;
    max-width: $desktop-width;
}

.hug {
    padding-left: 10px;
    padding-right: 10px;
}
