$title-font-family: 'Trajan Pro 3', serif;
$playstation-buttons-font-family: 'Playstation Buttons';
$main-font-family: Helvetica, 'MS Trebuchet', sans-serif;
$main-font-family-monospace: 'Lucida Console', Monaco, monospace;
$main-font-size: 14px;
$main-text-color: #eee;
$main-side-padding: 15px;

$desktop-width: 980px;

$top-header-text-color: #aa8854;
$top-header-height: 56px;
$top-header-bg-color: #212121;

$header-border-bottom-color: #ec1c24;

$combo-item-height: 50px;
